fastapi
uvicorn[standard]
websockets
httpx
python-dotenv
python-multipart
transformers
opencv-python-headless
facenet-pytorch
torchvision==0.23.0
pydantic
sse-starlette
pytest
pillow
requests
aiofiles
moviepy==1.0.3
fer