fastapi
uvicorn[standard]
websockets
httpx
python-dotenv
python-multipart
transformers
torch
opencv-python-headless
fer
pydantic
sse-starlette
pytest
pillow
requests
aiofiles
tensorflow
moviepy==1.0.3
setuptools==75.6.0
